{% extends "page.html" %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="/theme/js/github_repos.js" type="text/javascript"></script>
<script id="repos_template" type="text/x-handlebars-template">
{% raw %}<!-- Everything in here will be left untouched by Jinja2 -->
{{#each repos}}
  <div id="repo-card">
    <h1>{{name}}</h1>
  </div>
{{/each}} 
</script>
{% endraw %}
{% endblock head %}

{% block contents %}
<div id="contents-page">
</div>
{% endblock %}
