{% extends "base.html" %}
{% block content_title %}
{% endblock %}
{% block title %}{{ SITENAME }} &mdash; {{ article.title|striptags }}{% endblock %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="js/github_repos.js" type="text/javascript"></script>
<script id="repostemplate" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>

{% endblock head %}
